<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="description"
              content="EFAS - Plateforme pour annoter des vidéos de zebrafish." />
        <meta name="keywords"
              content="EFAS, annotation, vidéos, zebrafish, recherche, machine learning" />
        <title>Accueil - EFAS</title>
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/styles.css') }}" />
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="banner">
            <img src="{{ url_for('static', filename='logo.png') }}"
                 class="logo"
                 alt="Logo"
                 height="62.5"
                 width="85" />
            <h1>EFAS</h1>
            <a href="{{ url_for('home') }}">Accueil</a>
            <a href="{{ url_for('choose_experiment') }}">Choisir une expérience</a>
            {% if chosen_experiment %}
                <a href="{{ url_for('list_videos') }}">Voir les vidéos chargées</a>
                <a href="{{ url_for('load_unannotated_video') }}">Continuer les annotations</a>
            {% endif %}
            <a href="{{ url_for('leaderboard') }}" id="leaderboard-logo">
                <img src="{{ url_for('static', filename='Leaderboard.png') }}"
                     class="leaderboard-logo"
                     alt="Logo"
                     height="40"
                     width="40" />
            </a>
        </div>
        {% block content %}
        {% endblock content %}
        <div class="footer">
            <p>© 2025 EFAS. Tous droits réservés.</p>
        </div>
    </body>
</html>
