<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="EFAS - Annotation platform for zebrafish videos." />
        <meta name="keywords"
              content="EFAS, annotation, videos, zebrafish, research, machine learning" />
        <title>Congratulations</title>
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/congrats.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="background">
                <div class="gradient-base"></div>
            </div>
            <div class="confetti-container" id="confettiContainer"></div>
            <div class="main-content">
                <h1>Congratulations!</h1>
                <p>You annotated all videos in this experiment.</p>
                <div class="buttons-container">
                    <a href="{{ url_for('home') }}" class="button">Home</a>
                    <a href="{{ url_for('choose_experiment') }}" class="button">Choose an experiment</a>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/congrats.js') }}"></script>
    </body>
</html>
